.section__footer {
    max-height: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    max-height: 200px;
    margin-top: auto;
}

.social__list {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.social__list-item {
    margin-right: 30px;
    list-style-type:none;
}

.social__list-link {
    text-decoration: none;
}


@media(max-width:768px) {

    .section__footer {
        height: 150px;
    }
    .footer {
        padding-bottom: 80px;
        padding-left: 7%;
    }
}

@media(max-width:500px) {
    .section__footer {
        height: 100px;
        padding-bottom: 20px;
    }
    .footer {
        padding-bottom: 150px;
        padding-left: 12%;
    }
}