.section__projects {
    background-color: var(--white);
}


 
.section__title {
    margin-top: 70px;
    color: rgb(92, 98, 236);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 30px;
}

.poject__list-img {
    width: 370px;
    height: 278px;
    border-radius: 6px;
}

.projects__list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}


.projects__list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
}

.projects__list-item:hover  {
    position: relative;
    bottom: 10px;
    left: 5px;
    transition: 1s;
}

.project__list-link {
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
}


.project__list-link:hover {
    color: rgb(92, 98, 236);
    transition: .5s;
}


.projects__list-btn {
    width: 370px;
    height: 70px;
    background-color: var(--white);
    border-color: transparent;
    border-radius: 10px;
    text-align: center;
}



@media(max-width:500px) { 
    .section__projects {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .projects__vitrine {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 5px;
    }
    .section__title {
        font-size: 30px;
    }
    .projects__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 50px;
    }
    .projects__list-item {
        margin-right: 0;
        width: 350px;
    }
}

@media(max-width:400px) {
    .prewiev__block{
        padding-left: 5px;
        padding-right: 50px;
    }
    .prewiev__title {
        width: 40%;
        font-size: 18px;
    }
    .prewiv__subtitle{
        width: 40%;
        font-size: 14px;
    }
    .projects__list-item{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 280px;
    }

    .poject__list-img{
        width: 280px;
        height: 220px;
        object-fit: cover;
        border-radius: 6px;
    }
    .projects__list-btn{
        width: 300px;
        height: 20px;
    }
    .projects__list{
        padding-right: 20px;
    }
}