.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}


.section__projects {
    background-color: var(--white);
 }

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__title {
    margin-top: 70px;
    color: var(--purple);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    text-align: center;
}
 
.slider_block {
    display: flex;
    align-items: center;
}

.bx-wrapper {
    max-width: 100%;
    margin-bottom: 50px;
}

.slider__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__card-img {
    margin-bottom: 40px;
    width: 865px;
    height: 650px;
    object-fit: cover;
}

.slide__desc {
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 30px;
}

.slider__card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 48px;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--black);
    cursor: pointer;
    margin-bottom: 10px;
}

.slider__card-btn:hover {
    background-color: rgb(207, 207, 207);
}

.slider__card-btn:active {
    position: relative;
    top: 2px;
}

.slider__card-btn--img {
    margin-right: 10px;
}

.slider__card-btn-link {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    text-decoration: none;
}

.slider__arrows {
    display: block;
}

.arrow__left {
    position: relative;
    top: -200px;
    left: -80px;
}

.arrow__right {
    position: relative;
    top: -235px;
    left: 980px;
}


@media(max-width:768px) {
    .projects__container {
        width: 670px;
    }

    .bx-wrapper {
        width: 610px;
    } 
    .slider_block {
        display: flex;
        width: 610px;
        align-items: center;
    }
    
    .slider__card-img {
        width: 500px;
        height: 450px;
        object-fit: cover;
    }
    .arrow__left {
        position: relative;
        top: -100px;
        left: -40px;
    }
    
    .arrow__right {
        position: relative;
        top: -135px;
        left: 635px;
    }
      
}

@media(max-width:500px) { 
    .section__projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .projects__container  {
        width: 400px;
        margin-right: 0;
        margin-left: 0;
    }
 
    .slider__card-img {
        object-fit: cover;
        width: 250px;
        height: 180px;
    }
    .arrow__left {
        position: relative;
        top: -221px;
        left: 150px;
    }
    
    .arrow__right {
        position: relative;
        top: -260px;
        left: 450px;
    }
    .slide__desc {
        font-size: 18px;
    }
}       