.section__projects {
    background-color: var(--white);
 }


.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    margin-top: 70px;
    color: var(--purple);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    text-align: center;
}
 
.slider_block {
    display: flex;
    align-items: center;
}

.bx-wrapper {
    max-width: 100%;
}

.slider__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__card-img {
    margin-bottom: 40px;
}

.slide__desc {
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 30px;
}

.slider__card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 48px;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--black);
    cursor: pointer;
    margin-bottom: 10px;
}

.slider__card-btn:hover {
    background-color: rgb(207, 207, 207);
}

.slider__card-btn:active {
    position: relative;
    top: 2px;
}

.slider__card-btn--img {
    margin-right: 10px;
}

.slider__card-btn-link {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    text-decoration: none;
}

@media(max-width:700px) {
    .projects__container {
        width: 670px;
    }

    .bx-wrapper {
        width: 610px;
    } 
    .slider_block {
        display: flex;
        width: 610px;
        align-items: center;
    }
      
}

@media(max-width:450px) { 
    .section__projects {
        display: flex;
        flex-direction: column;
        align-content: center;
        max-width: 430px;
    }
    .projects__container  {
        width: 400px;
        margin-right: 0;
        margin-left: 0;
    }

    .slider__card {
        width: 400px;
        height: 400px;
    }
    .slider__card-img {
        object-fit: cover;
        width: 52%;
        height: 72%;
    }
 
}       